.cryptoIcon{width: 20px; height: 20px; background-image: url('v_260146_cryptoIcon100.png'); background-repeat: no-repeat;display: inline-block;background-position: 0 0; }
.c_bitcoin { background-position: -0px -20px; }
.c_ethereum { background-position: -0px -40px; }
.c_tether { background-position: -0px -60px; }
.c_xrp { background-position: -0px -80px; }
.c_chainlink { background-position: -0px -100px; }
.c_litecoin { background-position: -0px -120px; }
.c_bitcoin-cash { background-position: -0px -140px; }
.c_binance-coin { background-position: -0px -160px; }
.c_cardano { background-position: -0px -180px; }
.c_bitcoin-sv { background-position: -0px -200px; }
.c_usd-coin { background-position: -0px -220px; }
.c_eos { background-position: -0px -240px; }
.c_monero { background-position: -0px -260px; }
.c_stellar { background-position: -0px -280px; }
.c_tron { background-position: -0px -300px; }
.c_tezos { background-position: -0px -320px; }
.c_crypto-com-coin { background-position: -0px -340px; }
.c_unus-sed-leo { background-position: -0px -360px; }
.c_neo { background-position: -0px -380px; }
.c_nem { background-position: -0px -400px; }
.c_cosmos { background-position: -0px -420px; }
.c_filecoin { background-position: -0px -440px; }
.c_multi-collateral-dai { background-position: -0px -460px; }
.c_aave { background-position: -0px -480px; }
.c_huobi-token { background-position: -0px -500px; }
.c_dash { background-position: -0px -520px; }
.c_vechain { background-position: -0px -540px; }
.c_iota { background-position: -0px -560px; }
.c_ethereum-classic { background-position: -0px -580px; }
.c_waves { background-position: -0px -600px; }
.c_zcash { background-position: -0px -620px; }
.c_binance-usd { background-position: -0px -640px; }
.c_theta { background-position: -0px -660px; }
.c_omg { background-position: -0px -680px; }
.c_synthetix-network-token { background-position: -0px -700px; }
.c_maker { background-position: -0px -720px; }
.c_celsius { background-position: -0px -740px; }
.c_compound { background-position: -0px -760px; }
.c_ontology { background-position: -0px -780px; }
.c_dogecoin { background-position: -0px -800px; }
.c_ftx-token { background-position: -0px -820px; }
.c_okb { background-position: -0px -840px; }
.c_algorand { background-position: -0px -860px; }
.c_kusama { background-position: -0px -880px; }
.c_basic-attention-token { background-position: -0px -900px; }
.c_bittorrent { background-position: -0px -920px; }
.c_0x { background-position: -0px -940px; }
.c_ren { background-position: -0px -960px; }
.c_digibyte { background-position: -0px -980px; }
.c_hedgetrade { background-position: -0px -1000px; }
.c_decred { background-position: -0px -1020px; }
.c_trueusd { background-position: -0px -1040px; }
.c_husd { background-position: -0px -1060px; }
.c_qtum { background-position: -0px -1080px; }
.c_paxos-standard { background-position: -0px -1100px; }
.c_zilliqa { background-position: -0px -1120px; }
.c_reserve-rights { background-position: -0px -1140px; }
.c_ocean-protocol { background-position: -0px -1160px; }
.c_icon { background-position: -0px -1180px; }
.c_loopring { background-position: -0px -1200px; }
.c_hedera-hashgraph { background-position: -0px -1220px; }
.c_kyber-network { background-position: -0px -1240px; }
.c_abbc-coin { background-position: -0px -1260px; }
.c_quant { background-position: -0px -1280px; }
.c_augur { background-position: -0px -1300px; }
.c_bitcoin-gold { background-position: -0px -1320px; }
.c_lisk { background-position: -0px -1340px; }
.c_thorchain { background-position: -0px -1360px; }
.c_blockstack { background-position: -0px -1380px; }
.c_ampleforth { background-position: -0px -1400px; }
.c_band-protocol { background-position: -0px -1420px; }
.c_nexo { background-position: -0px -1440px; }
.c_terra-luna { background-position: -0px -1460px; }
.c_aragon { background-position: -0px -1480px; }
.c_decentraland { background-position: -0px -1500px; }
.c_zb-token { background-position: -0px -1520px; }
.c_siacoin { background-position: -0px -1540px; }
.c_revain { background-position: -0px -1560px; }
.c_enjin-coin { background-position: -0px -1580px; }
.c_numeraire { background-position: -0px -1600px; }
.c_swissborg { background-position: -0px -1620px; }
.c_nano { background-position: -0px -1640px; }
.c_helium { background-position: -0px -1660px; }
.c_cybervein { background-position: -0px -1680px; }
.c_bitcoin-diamond { background-position: -0px -1700px; }
.c_solana { background-position: -0px -1720px; }
